.container {
    display: grid;
    height: 200px;
    width: 200px;
    border: 1px solid black;
  }

  .item{
    border: 1px solid black;
  }
  
  .example-place-content {
    place-content: center center; /* Aligns all items both vertically and horizontally */
  }
  
  .example-place-items {
    place-items: center center; /* Individually aligns each item both vertically and horizontally */
  }
  