.load-more-gallery-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.products {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

.product {
  padding: 10px;
  border: 1px solid;
}

.product img{
    width: 200px;
    height: 200px;
}

.button-container{
    margin-bottom: 20px;
}

