.search-autocomplete-container{
    height: 60vh;
}

.search-user-input{
    padding: 30px;
    font-size: 30px;
    outline: none;
}

.search-user-input::placeholder{
    color: #000;
}

ul{
    list-style-type: none;
}

.search-li{
    font-size: 30px;
}